<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">


<hibernate-configuration>

	<session-factory>

		<!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url"> jdbc:mysql://localhost/Quasar</property>
		<property name="connection.username">root</property>
		<property name="connection.password">1267</property>

		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">1</property>

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>

		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">false</property>

		<!-- Drop and re-create the database schema on startup -->
		<property name="hbm2ddl.auto">update</property>

		<!-- Names the annotated entity class -->
		<mapping class="com.cmcdelhi.quasar.payMode.ChequeMode" />
		<mapping class="com.cmcdelhi.quasar.payMode.PaymentMode" />
		<mapping class="com.cmcdelhi.quasar.payMode.CardMode" />
		<mapping class="com.cmcdelhi.quasar.payMode.CashMode" />
		<mapping class="com.cmcdelhi.quasar.payMode.OnlineMode" />
		<mapping class="com.cmcdelhi.quasar.payMode.DDMode" />
		<mapping class="com.cmcdelhi.quasar.paymentDetails.Payment" />
		<mapping class="com.cmcdelhi.quasar.paymentDetails.FullFeePayment" />
		<mapping class="com.cmcdelhi.quasar.paymentDetails.InstallmentPayment" />
		<mapping class="com.cmcdelhi.quasar.paymentDetails.RegistrationPayment" />
		<mapping class="com.cmcdelhi.quasar.student.Student" />


	</session-factory>

</hibernate-configuration>